*{
    margin: 0px;
    box-sizing: border-box;
}
.pb {
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    justify-content: center;
    align-items: center;
    padding: 60px 625px 60px 625px;
}

.bg {  
    width: 670px;
    height: 960px;
    padding: 62px 100px 62px 100px;
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    border: 1px solid #AACDFF;
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
    border-radius: 20px;
}

.signup {
    width: 470px;
    height: 818px;
    left: 725px;
    top: 132px;
}

.g {
    width: 466px;
    height: 94px;
    left: 725px;
    top: 132px;
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;
    color: #0068FF;
}

.g1 {
    width: 466px;
    height: 94px;
    left: 725px;
    top: 286px;
}

.g2 {
    width: 466px;
    height: 80px;
    left: 725px;
    top: 387px;
}

.g3 {
    width: 466px;
    height: 80px;
    left: 725px;
    top: 488px;
}

.g4 {
    width: 466px;
    height: 80px;
    left: 725px;
    top: 589px;
}

.gender {
    width: 140px;
    height: 23.94px;
    left: 890px;
    top: 719px;
}

.checkbox {
    width: 454px;
    height: 21.06px;
    left: 737px;
    top: 792.94px;
}

.line {
    width: 470px;
    height: 1px;
    left: 725px;
    top: 844px;
    
    background: #E6E6E6;
}

.button {
    width: 470px;
    height: 75px;
    left: 725px;
    top: 875px;
    background: #FFFFFF;
    border: 1px solid #0068FF;
    border-radius: 10px;
}

.bt{
    padding: 24px 200px 24px 200px;
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;

    color: #0068FF;
}
.text {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #797979;
}